<f:layout name="download" />

<f:section name="content">
	{namespace fu=Tx_Feupload_ViewHelpers}
	
		<table class="tx-feupload-downloadtable">
			<tr>
				<th><f:translate key="file.table.type" /></th>
				<th><f:translate key="file.table.download" /></td>
				<th><f:translate key="file.table.owner" /></th>
				<th><f:translate key="file.table.created" /></th>
				<th><f:translate key="file.action.delete" /></th>
			</tr>
			<f:for each="{files}" as="file" iteration="iter">
			<tr class='<f:if condition="{iter.isEven}"><f:then>tr-even</f:then><f:else>tr-odd</f:else></f:if>'>
				<td>{file.fileExt}</td>
				<td><fu:download file="{file}" /></td>
				<td>{file.owner.username}</td>
				<td><f:format.date>@{file.crdate}</f:format.date></td>
				<td>
					<f:if condition="{file.deletable}">
						<f:then>
							<f:link.action action="delete" arguments="{file: file}" class="delete">
								<f:image src="EXT:feupload/Resources/Public/Icons/bin.png" alt="{f:translate(key='file.action.delete'}" /></f:link.action>
						</f:then>
					</f:if>
				</td>
			</tr>
			</f:for>
		</table>
</f:section>
